@{
    ViewBag.Title = "Contacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Calle Maestranza, 8, Portal 2º (Oficinas)<br />
    29016 Málaga<br />
    <abbr title="Phone"><strong>Tfno:</strong></abbr>
    952 22 63 35<br />
    <abbr title="Phone"><strong>Fax:</strong></abbr>
    952 21 76 19
</address>

<address>
    <strong>email:</strong>   <a href="mailto:apgallardoabogados@gmail.com"> apgallardoabogados@gmail.com</a><br />
</address>