@{
    ViewBag.Title = "Inicio";
}

<div class="row">
    <div class="col-md-9">
        <h2>Gallardo Abogados</h2>
        <p>
            Vivamus auctor tincidunt lectus, quis pretium elit eleifend sit amet. Praesent rutrum sapien sed egestas auctor. Vivamus sed tellus turpis. Suspendisse blandit nulla eget tellus faucibus, id malesuada ipsum feugiat. Aenean eget mi nibh. Suspendisse aliquet, est non luctus pretium, enim nisi consectetur nunc, eget molestie magna quam vel nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent sodales lorem at urna posuere, quis ultricies quam venenatis. Mauris nec erat leo. Donec at orci non nulla volutpat interdum. Nunc nec libero porta sapien ultricies volutpat adipiscing vel lacus. Nam a neque vitae ante rhoncus porta. Quisque et luctus nunc, non sollicitudin tortor.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Donde estamos</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <h2>Nuestro compromiso</h2>
        <p>Sed ut imperdiet nibh. Duis nec lacus vel massa egestas viverra. In commodo quis dolor vel auctor. Aenean ut eros augue. Nam sit amet dui tellus. Sed malesuada nulla arcu, blandit euismod magna volutpat eget. Phasellus aliquam dolor et diam aliquam gravida non at erat. Pellentesque pulvinar, urna non volutpat adipiscing, enim est malesuada quam, sed lobortis ante risus vitae nisi. Proin eu ullamcorper sem, sed tincidunt arcu. Aliquam ac ante in sapien malesuada laoreet non sed enim. Phasellus turpis sem, laoreet a libero eget, tempus mollis eros. Donec id lorem odio.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Consultenos</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>