
@{
    ViewBag.Title = "Quiénes somos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quiénes somos</h2>

@*http://placekitten.com/200/300
    http://placehold.it/120x100
*@

<div class="user media">
    <img src="http://www.placecage.com/120/100" class="pull-left" />
    <div class="user-details media-body">
        <h4 class="media-heading">Antonio M. Gallardo Gaspar</h4>
        <strong>Tfno:</strong> 777 26 26 26 <br />
        <strong>email:</strong><a href="mailto:apgallardoabogados@gmail.com"> apgallardoabogados@gmail.com</a>
    </div>
</div>

<div class="user media">
    <img src="http://placehold.it/120x100" class="pull-left" />
    <div class="user-details media-body">
        <h4 class="media-heading">Pilar Gallardo Quero</h4>
        <strong>Tfno:</strong> 777 26 26 26 <br />
        <strong>email:</strong><a href="mailto:apgallardoabogados@gmail.com"> apgallardoabogados@gmail.com</a>
    </div>
</div>

<div class="user media">
    <img src="http://www.placecage.com/120/100" class="pull-left" />
    <div class="user-details media-body">
        <h4 class="media-heading">Almudena Damián Quero</h4>
        <strong>Tfno:</strong> 777 26 26 26 <br />
        <strong>email:</strong><a href="mailto:apgallardoabogados@gmail.com"> apgallardoabogados@gmail.com</a>
    </div>
</div>

<div class="user media">
    <img src="http://placekitten.com/120/100" class="pull-left" />
    <div class="user-details media-body">
        <h4 class="media-heading">María Jesús Jiménez Chiclana</h4>
        <strong>Tfno:</strong> 777 26 26 26 <br />
        <strong>email:</strong><a href="mailto:apgallardoabogados@gmail.com"> apgallardoabogados@gmail.com</a>
    </div>
</div>

