body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-image{
    background: url(/Content/images/body-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.body-back-color{
    background-color: #f8f8f8;
}

#inner-body{
    /*background-color: wheat;*/
}
.jumbotron{
    background: url(/Content/images/JumboBig.jpg) no-repeat center center;
}

#header h1, #header p{
    color: wheat;
}

.navbar-nav li a {
    line-height: 60px;
}

#map_canvas {
    width: 600px;
    height: 400px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}